In [1]:
# загружаем необходимые библиотеки
import pandas as pd
import numpy as np

In [2]:
# считываем массив признаков и массив меток
# данные взяты отсюда https://drive.google.com/drive/folders/16kZDOe7zxrwdIW99OIE9Fc_UvfV9wiDD
clf_data = pd.read_csv('Data/X_Severstal.csv', sep=',')
clf_target = pd.read_csv('Data/y_Severstal.csv', sep=',')

In [3]:
# смотрим на данные
clf_data.head()

,1,2,3,4,5,6,7,8,9,10,...,49,50,51,52,53,54,55,56,57,58
0,-42.822536,NaN,12.0,NaN,1.0,2.0,24.0,-45.025510,NaN,1.0,...,17.871210,4.0,15.0,21.863365,-13.349394,-2.215086,-5.137377,20.904186,53.939262,-17.328346
1,-13.478816,13.0,12.0,75.132502,0.0,2.0,24.0,-49.213545,7.0,0.0,...,21.511019,2.0,13.0,-2.880103,21.739125,5.464161,-30.347612,23.304507,47.746225,-47.305489
2,51.702721,13.0,12.0,63.459270,0.0,3.0,24.0,-58.777043,8.0,0.0,...,NaN,3.0,16.0,21.851623,NaN,7.471764,-12.348314,34.406243,34.479515,-33.326172
3,NaN,12.0,13.0,-15.492561,1.0,1.0,23.0,0.624258,9.0,0.0,...,16.964848,2.0,15.0,-25.128119,-26.858262,54.203501,10.341217,29.080753,40.235855,-35.835956
4,7.633273,NaN,13.0,59.862681,0.0,3.0,NaN,-61.395319,NaN,0.0,...,8.467076,4.0,14.0,30.610006,-15.663721,38.323843,-65.561821,33.965883,50.245794,-44.018245

In [4]:
# смотрим стастистики, замечаем, что многие переменные
# имеют нормальное распределение (практически одинаковые
# значения средних и медиан)
clf_data.describe()

,1,2,3,4,5,6,7,8,9,10,...,49,50,51,52,53,54,55,56,57,58
count,820529.000000,808921.000000,831550.000000,828051.000000,819375.000000,796632.000000,791582.000000,796405.000000,840044.000000,794046.000000,...,803958.000000,836761.000000,798606.000000,843544.000000,814017.000000,812818.000000,800856.000000,812926.000000,835366.000000,786115.000000
mean,11.012513,12.329729,11.344055,25.406132,0.313465,2.180648,23.222268,-46.304667,7.901558,0.269151,...,20.596154,2.982181,14.680950,24.042950,-19.295371,16.461962,-25.783931,26.158484,38.320750,-37.013222
std,99.986889,0.796650,1.662548,20.636810,0.536960,0.771303,0.867651,19.875120,1.286734,0.443519,...,6.409154,1.097207,2.301128,29.146244,47.647342,45.131263,23.565330,8.508795,5.995944,15.246010
min,-480.088690,7.000000,3.000000,-72.310070,0.000000,0.000000,17.000000,-138.181159,1.000000,0.000000,...,-11.358178,0.000000,4.000000,-115.421307,-246.217734,-197.419313,-136.146509,-14.899675,9.648201,-112.352665
25%,-56.357813,12.000000,10.000000,11.492726,0.000000,2.000000,23.000000,-59.736287,7.000000,0.000000,...,16.278806,2.000000,13.000000,4.395491,-51.462848,-13.974363,-41.718505,20.427519,34.264541,-47.312376
50%,11.029669,13.000000,11.000000,25.421574,0.000000,2.000000,23.000000,-46.305721,8.000000,0.000000,...,20.605346,3.000000,15.000000,24.050412,-19.318562,16.460499,-25.779677,26.149082,38.316862,-36.990170
75%,78.379658,13.000000,13.000000,39.346755,1.000000,3.000000,24.000000,-32.910540,9.000000,1.000000,...,24.915043,4.000000,16.000000,43.716637,12.907192,46.941529,-9.868830,31.893980,42.376050,-26.696559
max,545.896248,13.000000,15.000000,128.900592,4.000000,3.000000,24.000000,55.334255,10.000000,1.000000,...,51.729840,5.000000,23.000000,164.653264,209.925962,226.741140,81.935811,73.609990,69.557056,41.368872

In [5]:
# смотрим типы переменных и пропуски
clf_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900000 entries, 0 to 899999
Data columns (total 58 columns):
1     820529 non-null float64
2     808921 non-null float64
3     831550 non-null float64
4     828051 non-null float64
5     819375 non-null float64
6     796632 non-null float64
7     791582 non-null float64
8     796405 non-null float64
9     840044 non-null float64
10    794046 non-null float64
11    792089 non-null float64
12    822082 non-null float64
13    801824 non-null float64
14    822891 non-null float64
15    785297 non-null float64
16    822112 non-null float64
17    804309 non-null float64
18    807722 non-null float64
19    857586 non-null float64
20    829599 non-null float64
21    803971 non-null float64
22    813872 non-null float64
23    768612 non-null float64
24    823381 non-null float64
25    809400 non-null float64
26    823554 non-null float64
27    792591 non-null float64
28    812095 non-null float64
29    786992 non-null float64
30    821643 non-null float64
31    827947 non-null float64
32    820935 non-null float64
33    815735 non-null float64
34    815943 non-null float64
35    800966 non-null float64
36    815103 non-null float64
37    831796 non-null float64
38    816783 non-null float64
39    812253 non-null float64
40    786253 non-null float64
41    832848 non-null float64
42    844694 non-null float64
43    820059 non-null float64
44    794462 non-null float64
45    806247 non-null float64
46    820501 non-null float64
47    813624 non-null float64
48    807994 non-null float64
49    803958 non-null float64
50    836761 non-null float64
51    798606 non-null float64
52    843544 non-null float64
53    814017 non-null float64
54    812818 non-null float64
55    800856 non-null float64
56    812926 non-null float64
57    835366 non-null float64
58    786115 non-null float64
dtypes: float64(58)
memory usage: 398.3 MB

In [6]:
# выводим количество уникальных значений
for i in clf_data:
    print(i, clf_data[i].nunique())

1 820529
2 7
3 13
4 828051
5 5
6 4
7 8
8 796405
9 10
10 2
11 792089
12 822004
13 801824
14 822891
15 13
16 822112
17 14
18 13
19 857586
20 829599
21 19
22 13
23 4
24 16
25 809400
26 18
27 22
28 812095
29 13
30 6
31 6
32 10
33 815735
34 815943
35 800966
36 14
37 831796
38 816783
39 812253
40 786253
41 832848
42 844694
43 820059
44 4
45 9
46 820501
47 2
48 14
49 803958
50 6
51 20
52 843544
53 814017
54 812818
55 800856
56 812926
57 835365
58 786115

In [7]:
# предположим, что переменные с менее чем 10 уникальными значениями являются
# категориальными, и записываем в отдельный список
cat_var = clf_data.loc[:, clf_data.apply(pd.Series.nunique) < 10].columns
# меняем переменные в списке на категориальные и добавляем
# к названиям этих переменных префикс catvar_
for i in cat_var:
    clf_data[i] = clf_data[i].astype('object')    
    clf_data.rename(columns={f'{i}':f'catvar_{i}'}, inplace=True)

clf_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900000 entries, 0 to 899999
Data columns (total 58 columns):
1            820529 non-null float64
catvar_2     808921 non-null object
3            831550 non-null float64
4            828051 non-null float64
catvar_5     819375 non-null object
catvar_6     796632 non-null object
catvar_7     791582 non-null object
8            796405 non-null float64
9            840044 non-null float64
catvar_10    794046 non-null object
11           792089 non-null float64
12           822082 non-null float64
13           801824 non-null float64
14           822891 non-null float64
15           785297 non-null float64
16           822112 non-null float64
17           804309 non-null float64
18           807722 non-null float64
19           857586 non-null float64
20           829599 non-null float64
21           803971 non-null float64
22           813872 non-null float64
catvar_23    768612 non-null object
24           823381 non-null float64
25           809400 non-null float64
26           823554 non-null float64
27           792591 non-null float64
28           812095 non-null float64
29           786992 non-null float64
catvar_30    821643 non-null object
catvar_31    827947 non-null object
32           820935 non-null float64
33           815735 non-null float64
34           815943 non-null float64
35           800966 non-null float64
36           815103 non-null float64
37           831796 non-null float64
38           816783 non-null float64
39           812253 non-null float64
40           786253 non-null float64
41           832848 non-null float64
42           844694 non-null float64
43           820059 non-null float64
catvar_44    794462 non-null object
catvar_45    806247 non-null object
46           820501 non-null float64
catvar_47    813624 non-null object
48           807994 non-null float64
49           803958 non-null float64
catvar_50    836761 non-null object
51           798606 non-null float64
52           843544 non-null float64
53           814017 non-null float64
54           812818 non-null float64
55           800856 non-null float64
56           812926 non-null float64
57           835366 non-null float64
58           786115 non-null float64
dtypes: float64(46), object(12)
memory usage: 398.3+ MB

In [8]:
# пересоздаем список категориальных переменных
cat_var = [c for c in clf_data.columns if clf_data[c].dtype.name == 'object']
# смотрим редкие категории
for i in cat_var:
     print(clf_data[i].value_counts(dropna=False))

 13.0    406337
 12.0    287345
 11.0     93894
NaN       91079
 10.0     18588
 9.0       2504
 8.0        235
 7.0         18
Name: catvar_2, dtype: int64
 0.0    591036
 1.0    201265
NaN      80625
 2.0     25661
 3.0      1394
 4.0        19
Name: catvar_5, dtype: int64
 2.0    345372
 3.0    305695
 1.0    129345
NaN     103368
 0.0     16220
Name: catvar_6, dtype: int64
 24.0    358970
 23.0    288886
 22.0    110779
NaN      108418
 21.0     27376
 20.0      4856
 19.0       654
 18.0        54
 17.0         7
Name: catvar_7, dtype: int64
 0.0    580328
 1.0    213718
NaN     105954
Name: catvar_10, dtype: int64
 2.0    341256
 3.0    208648
 1.0    185081
NaN     131388
 0.0     33627
Name: catvar_23, dtype: int64
 0.0    495210
 1.0    264251
NaN      78357
 2.0     55990
 3.0      5862
 4.0       323
 5.0         7
Name: catvar_30, dtype: int64
 4.0    322684
 3.0    226125
 5.0    184863
 2.0     79333
NaN      72053
 1.0     13964
 0.0       978
Name: catvar_31, dtype: int64
 1.0    348555
 0.0    283107
 2.0    143005
NaN     105538
 3.0     19795
Name: catvar_44, dtype: int64
 11.0    306340
 12.0    241953
 10.0    177647
NaN       93753
 9.0      62432
 8.0      14947
 7.0       2608
 6.0        287
 5.0         32
 4.0          1
Name: catvar_45, dtype: int64
 0.0    666475
 1.0    147149
NaN      86376
Name: catvar_47, dtype: int64
 3.0    289481
 4.0    213372
 2.0    195458
 1.0     66186
 5.0     63268
NaN      63239
 0.0      8996
Name: catvar_50, dtype: int64

In [9]:
# заменяем пропуски на 9999
for i in cat_var:
    clf_data[i] = np.where(clf_data[i].isnull(), '9999', clf_data[i])

In [10]:
# категории с менее 1000 наблюдений записываем в категорию Rare_value
for i in cat_var:
    clf_data.loc[clf_data[i].value_counts()[clf_data[i]].values < 1000, i] = 'Rare_value'

In [11]:
# создаем список количественных переменных
num_columns = [c for c in clf_data.columns if clf_data[c].dtype.name != 'object']
for i in num_columns:
    # заменяем пропуски на 9999
    clf_data[i].fillna(9999, inplace=True)
    # выполняем downcasting для уменьшения размера данных
    clf_data[i] = clf_data[i].astype(np.float16)

clf_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900000 entries, 0 to 899999
Data columns (total 58 columns):
1            900000 non-null float16
catvar_2     900000 non-null object
3            900000 non-null float16
4            900000 non-null float16
catvar_5     900000 non-null object
catvar_6     900000 non-null object
catvar_7     900000 non-null object
8            900000 non-null float16
9            900000 non-null float16
catvar_10    900000 non-null object
11           900000 non-null float16
12           900000 non-null float16
13           900000 non-null float16
14           900000 non-null float16
15           900000 non-null float16
16           900000 non-null float16
17           900000 non-null float16
18           900000 non-null float16
19           900000 non-null float16
20           900000 non-null float16
21           900000 non-null float16
22           900000 non-null float16
catvar_23    900000 non-null object
24           900000 non-null float16
25           900000 non-null float16
26           900000 non-null float16
27           900000 non-null float16
28           900000 non-null float16
29           900000 non-null float16
catvar_30    900000 non-null object
catvar_31    900000 non-null object
32           900000 non-null float16
33           900000 non-null float16
34           900000 non-null float16
35           900000 non-null float16
36           900000 non-null float16
37           900000 non-null float16
38           900000 non-null float16
39           900000 non-null float16
40           900000 non-null float16
41           900000 non-null float16
42           900000 non-null float16
43           900000 non-null float16
catvar_44    900000 non-null object
catvar_45    900000 non-null object
46           900000 non-null float16
catvar_47    900000 non-null object
48           900000 non-null float16
49           900000 non-null float16
catvar_50    900000 non-null object
51           900000 non-null float16
52           900000 non-null float16
53           900000 non-null float16
54           900000 non-null float16
55           900000 non-null float16
56           900000 non-null float16
57           900000 non-null float16
58           900000 non-null float16
dtypes: float16(46), object(12)
memory usage: 161.4+ MB

In [12]:
# разделим выборку на обучение и тест
from sklearn.model_selection import train_test_split
clf_train_data, clf_test_data, clf_train_labels, clf_test_labels = train_test_split(clf_data, clf_target,
                                                                                    test_size=0.3, random_state=1)

In [13]:
# выполняем дамми-кодирование
clf_train_data = pd.get_dummies(clf_train_data)
clf_test_data = pd.get_dummies(clf_test_data)

In [14]:
# смотрим форму каждого массива
print(clf_train_data.shape)
print(clf_train_labels.shape)
print(clf_test_data.shape)
print(clf_test_labels.shape)

(630000, 115)
(630000, 1)
(270000, 115)
(270000, 1)

In [15]:
# переводим в массивы NumPy
train_data = clf_train_data.values
test_data = clf_test_data.values
train_labels = clf_train_labels.values.ravel()
test_labels = clf_test_labels.values.ravel()

In [16]:
# импортируем класс XGBClassifier и функцию roc_auc_score
from xgboost import XGBClassifier
from sklearn.metrics import roc_auc_score

In [17]:
# строим модель
xgb = XGBClassifier(n_estimators=150, learning_rate=0.01, 
                    max_depth=50, subsample=0.9, 
                    colsample_bytree=1, colsample_bylevel=0.9, 
                    reg_alpha=0.1, reg_lambda=0.1, random_state=0, n_jobs=-1, verbose=1)
xgb.fit(train_data, train_labels)
# печатаем значения правильности
print("AUC на обучающей выборке: {:.3f}".
      format(roc_auc_score(train_labels, xgb.predict_proba(train_data)[:, 1])))
print("AUC на контрольной выборке: {:.3f}".
      format(roc_auc_score(test_labels, xgb.predict_proba(test_data)[:, 1])))

AUC на обучающей выборке: 1.000
AUC на контрольной выборке: 0.807